#navbar-brand{
    color: #FFF;
    font-size: 1.5em;
    padding:0;
    margin:0;
    font-weight: 1000;
    display: flex;
    align-items:center;
}

.navlink-default{
    font-weight: 800;
    color: #ECECEC!important;
    text-align: center;
}
.navlink-default-active{
    text-align: center;
    border-bottom: 5px solid #f28800;
    color: #f28800!important;
}
 #signin-button{
    margin:0;
    margin-top: 0px;
    padding: 0!important;
}
#signin-navlink{
    padding: 0 10px;
    color:#fff;
    display: flex;
    align-items:center;
}
#signin-navlink:hover{
    color:#DDD;
}
.signin-logo{
    height: 36px;
    padding: 5px;
}
#signup-button{
    background: none;
    border:none;
}
#signup-button:hover{
    text-decoration: underline;
}